# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.codex_tmp/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
android/app/keystore.properties
assets/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example
.env*.local

# fastlane temp
fastlane/
fastlane/.deliver_screenshots/
fastlane/report.xml
fastlane/Preview.html

# typescript
*.tsbuildinfo

app-example
